.forms-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
}

.search-form {
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.search-field {
    margin-top: 10px;
}

.form-block {
    position: relative;
}

.form-table {
    background-color: #ececec;
    position: absolute;
    top: 10px;
    left: 20px;
    right: 20px;
    bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-filter: drop-shadow(2px 2px 2px #222222a1);
    filter: drop-shadow(2px 2px 2px #222222a1);
}

.form-relative-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.form-header {
    grid-template-columns: 3fr 2fr 253px 1em !important;
}

.form-header div {
    background-color: #03539e !important;
    color: white !important;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.form-row {
    position: relative;
    display: grid;
    height: min-content;
    width: 100%;
    grid-template-rows: min-content;
    grid-template-columns: 3fr 2fr 253px;
    column-gap: 3px;
    margin-bottom: 3px;
}

.form-row div {
    padding: 5px;
    min-width: none;
    background-color: #ffffff;
}

.form-scroll-container {
    position: absolute;
    top: 33px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 3px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-scroll-container::-webkit-scrollbar {
    width: 1em;
}

.form-scroll-container::-webkit-scrollbar-thumb {
    background-color: #c6c4c4;
    border: 1px solid white;
    border-bottom-right-radius: 4px;
}

.form-scroll-container::-webkit-scrollbar-track {
    border-bottom-right-radius: 4px;
}

.forms-title {
    display: inline-block;
    margin-left: 20px;
    margin-top: 28px;
    font-weight: bold;
    font-size: 23px;
    color: #03539e;
    -webkit-filter: drop-shadow(5px 5px 5px #00000059);
    filter: drop-shadow(5px 5px 5px #00000059);
}

.action-button {
    border-radius: 4px;
    background-color: #03539e;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    height: 35px;
    width: 35px;
    padding: 5.5px 1px 0 0px;
    -webkit-filter: drop-shadow(5px 5px 5px #00000059);
    filter: drop-shadow(5px 5px 5px #00000059);
}

.new-form div {
    background-color: rgb(255, 222, 222);
}

.partial-form div {
    background-color: #fff4cd;
}

.full-form div {
    background-color: rgb(208, 229, 198);
}

.scheduled-form div {
    background-color: #c9dbec;
}



.row-spine,
.bold-item {
    font-weight: bold;
    padding-top: 13px !important;
}

.new-form .row-spine {
    border-left: solid 6px rgb(255, 83, 83);
}

.partial-form .row-spine {
    border-left: solid 6px #ffcb06;
}

.full-form .row-spine {
    border-left: solid 6px rgb(97, 208, 46);
}

.scheduled-form .row-spine {
    border-left: solid 6px #03539e;
}

.archived-form .row-spine {
    border-left: solid 6px #9e9e9e;
}

.text-button {
    background-color: #ffcb06;
    -webkit-filter: drop-shadow(5px 5px 5px #00000059);
    filter: drop-shadow(5px 5px 5px #00000059);
    font-weight: bold;
    float: right;
    margin-right: 15px;
    margin-top: 9px;
    height: 56px;
    padding-left: 5px;
}

.button-box {
    display: flex;
    justify-content: center;
}