<div class="forms-grid">
    <div class="search-bar">
        <form class="search-form">
            <mat-form-field class="search-field">
                <mat-label>Search Forms</mat-label>
                <input matInput>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
    </div>
    <div class="form-block">

        <div class="form-table animated fadeIn">
            <div class="form-relative-wrapper">
                <div class="form-header form-row">
                    <div style="border-top-left-radius: 4px;">Student</div>
                    <div>Form Details</div>
                    <div>Actions</div>
                    <div style="border-top-right-radius: 4px;"></div>
                </div>
                <div class="form-scroll-container">
                    <!-- *ngFor="let form of filteredForms" -->
                    <div>
                        <div class="form-row animated fadeInUp">
                            <div>asdf</div>
                            <div>asdf</div>
                            <div>asdf</div>
                            <div class="clickrow" matTooltip="Click to See Form Details" matTooltipPosition="below"
                                matTooltipShowDelay="600" matRipple [matRippleColor]="'#ff676726'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>