<div class="header">
    <div style="position:relative; height: 100%; width: 100%;">
        <img class="header-logo" src="../assets/erau-logo.png">
        <div class="app-title">Checkride Application System</div>
        <button mat-icon-button class="profile-button" matTooltip="Account" matTooltipPosition="left"
            matTooltipShowDelay="400" (click)="openAccount()" *ngIf="router.url !== '/login'">
            <i class="material-icons">account_circle</i>
        </button>
    </div>
</div>

<div class="app-body">
    <router-outlet></router-outlet>
</div>