<div class="header">
    <div style="position:relative; height: 100%; width: 100%;">
        <img class="header-logo" src="../assets/erau-logo.png">
        <div class="app-title">Checkride Application System</div>
        <button mat-icon-button class="profile-button" matTooltip="Account" matTooltipPosition="left"
            matTooltipShowDelay="400" (click)="openAccount()" *ngIf="router.url !== '/login'">
            <i class="material-icons">account_circle</i>
        </button>
    </div>
</div>

<!-- UI made by Stone Mitchell :) -->
<!-- stone.mitchell.45@gmail.com , (520)465-8628 -->
<!-- Call me like 10 times, i dont pick up numbers i dont know at first -->
<!-- My lovely teammates, who deserve credit i guess -->
<!-- Aspen Smith, Jake Dimarzio, Brandon Willison -->
<!-- mock-up backend, report writer, and UI assistant respectively -->

<div class="app-body">
    <router-outlet></router-outlet>
</div>