.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #03539e;
    border-bottom: 8px solid #ffcb06;
    box-shadow: #00000059 0px 5px 15px;
    z-index: 100;
    min-width: 600px;
}

.app-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 58px;
    background-color: white;
}

.header-logo {
    height: 42px;
    margin-top: 5px;
    margin-left: 8px;
    -webkit-filter: drop-shadow(5px 5px 5px #00000059);
    filter: drop-shadow(5px 5px 5px #00000059);
}