<p>form works!</p>
<div class="form">
  <div class="page-one">
    <div class="container">
      <h1>Student Information</h1>
      <form (ngSubmit)="onSubmit()" #checkrideForm="ngForm">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label> Student Name </mat-label>
            <input matInput [(gModel)]=""/>
          </mat-form-field>
          <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Student ID/Number</mat-label>
            <input matInput />
          </mat-form-field>
          <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input matInput />
          </mat-form-field>
          <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Instructor Name</mat-label>
            <input matInput />
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="right-side"></div>
  </div>
</div>
