<div class="profile-grid">

    <div class="profile-icon">
      <div class="profile-circle">
        <div class="profile-letter">T</div>
      </div>
    </div>
  
    <div class="profile-name-container">
      <div class="profile-name">Testy Testerson</div>
    </div>
  
    <div class="profile-logout">
      <button mat-button class="text-button" style="display: inline-block; margin-top: 2px;" (click)="logout()">Log Out</button>
    </div>
  
    <div class="profile-email">
      <div class="info">tester30@erau.edu</div>
    </div>
  
    <div class="profile-staff-code">
      <div class="info">Administrator</div>
    </div>
  
  </div>